@model IEnumerable<LugamarVTT.Models.Character>

@{
    ViewData["Title"] = "Player Characters";
}

@section Styles {
    <link rel="stylesheet" href="~/css/charsheet.css" />
}

<h1 class="mt-4 mb-3">Player Characters</h1>

@if (!Model.Any())
{
    <p>No characters were found in the database.</p>
}
else
{
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Race</th>
                <th>Class</th>
                <th>Level</th>
                <th>Alignment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pc in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Charsheet" asp-action="Details" asp-route-id="@pc.Id">
                            @pc.Name
                        </a>
                    </td>
                    <td>@pc.Race</td>
                    <td>@pc.Class</td>
                    <td>@pc.Level</td>
                <td>@pc.Alignment</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
